<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.EnterpriseSystemsDBConnectionString"
            connectionString="Data Source=MAIT-09-01\SQLEXPRESS;Initial Catalog=EnterpriseSystemsDB;User ID=sa;Password=aitadmin1234;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.masterConnectionString"
            connectionString="Data Source=LAPTOP-2GQTAP6J\SQLEXPRESS;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>